/*@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url(reveal.js-3.3.0.1/css/theme/fonts/Quicksand.ttf) format('truetype');
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: url(reveal.js-3.3.0.1/css/theme/fonts/QuicksandBold.ttf) format('truetype');
}


@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*/

/*.reveal {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: normal;
  color: #000; }*/

/*FROM Rmarkdown*/

/*.reveal h1 { font-size: 2.0em; }
.reveal h2 { font-size: 1.5em;  }
.reveal h3 { font-size: 1.25em; }
.reveal h4 { font-size: 1em;  }
*/
.reveal .slides>section,
.reveal .slides>section>section {
  padding: 0px 0px;
}



.reveal table {
  border-width: 1px;
  border-spacing: 2px;
  border-style: dotted;
  border-color: gray;
  border-collapse: collapse;
  font-size: 0.7em;
}

.reveal table th {
  border-width: 1px;
  padding-left: 10px;
  padding-right: 25px;
  font-weight: bold;
  border-style: dotted;
  border-color: gray;
}

.reveal table td {
  border-width: 1px;
  padding-left: 10px;
  padding-right: 25px;
  border-style: dotted;
  border-color: gray;
}

/*FIN*/

.slide-background:first-child {
  background-color: #51247A;
}

/*.slide-background:title-slide {
  background-color: #51247A;
}*/

.reveal .title-slide {
  background-color: #51247A;
}

.reveal .author {
  font-size: 1em;
  font-weight: normal;
}

.reveal .date {
  font-size: 0.8em;
  font-weight: normal;
}

.reveal .slides {
  text-align: left;
}


.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: none;
   }



.reveal h1 {
  font-size: 1.8em; }


.reveal h2 {
  font-size: 1.4em;
  /*font-weight: bold;*/ }

p.question {
 font-size: 100%;
 /*font-weight: bold;*/
 /*font-style: italic;*/
 line-height: 120%;
 padding-top: 0.2em;
 padding-bottom: 0.2em;
 padding-left: 0.6em;
 padding-right: 0.2em;
 border-style: none none none solid;
 border-left-width: 1em;
 border-top-width: thin;
 border-right-width: thin;
 border-bottom-width: thin;
 border-color: #51247A;
 color: #51247A;
 /*background-color: white;*/
}

.reveal blockquote {
 font-size: 100%;
 /*font-weight: bold;*/
 /*font-style: normal;*/
 margin: 0 0 0 0;
 width: 100%;
 /*line-height: 120%;*/
 /*padding-top: 0.2em;*/
 /*padding-bottom: 0.2em;*/
 padding-left: 0.6em;
 padding-right: 0.2em;
 border-style: none none none none;
 border-left-width: thin;
 border-top-width: thin;
 border-right-width: thin;
 border-bottom-width: thin;
 /*border-color: #51247A;*/
 color: #51247A;
 box-shadow: 0 0 0 0;
 /*background-color: white;*/
}

.small {
  font-size: 70%;
}

.vsmall {
  font-size: 55%;
}

#center {
  text-align: center;
  vertical-align: middle;
}

p.questionalt {
 font-size: 100%;
 /*font-weight: bold;*/
 /*font-style: italic;*/
 line-height: 120%;
 padding-top: 0.2em;
 padding-bottom: 0.2em;
 padding-left: 0.6em;
 padding-right: 0.2em;
 border-style: none none none solid;
 border-left-width: 1em;
 border-top-width: thin;
 border-right-width: thin;
 border-bottom-width: thin;
 border-color: #FBB800;
 color: #FBB800;
 /*background-color: white;*/
}


/*.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #222;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }*/

.reveal section img {
  border: 0;
  box-shadow: none; }

.twocolumn {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 25px;
   text-align: left;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: ". ." ". .";
}

div.noted
{
     background-color: #f0f7fb;
     border-left: solid 4px #3498db;
     line-height: 100%;
     /*mc-auto-number-format: '{b}Note: {/b}';*/
     overflow: hidden;
     padding: 12px;
}

div.noted2
{
     background-color: #e6ffe6;
     border-left: solid 4px #00e600;
     line-height: 100%;
     /*mc-auto-number-format: '{b}Note: {/b}';*/
     overflow: hidden;
     padding: 12px;
}

div.noted3
{
     background-color: #FADBD8;
     border-left: solid 4px #943126;
     line-height: 100%;
     /*mc-auto-number-format: '{b}Note: {/b}';*/
     overflow: hidden;
     padding: 12px;
}

div.txtover
{
  background-color: rgba(0,0,0,.6); 
  color: #fff; 
  padding: 15px;
}

div.txtover2
{
  background-color: rgba(0,0,0,.75); 
  color: #fff; 
  padding: 15px;
}